# Ambiente
NODE_ENV=

# Depuração
DEBUG=

# Porta da aplicação
NODE_PORT=

# Configurações de base de dados
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_PORT=
DB_HOST=

DATABASE_URL=

# JWT e chaves secretas
JWT_SECRET=

# Rota publica
IS_PUBLIC_KEY=

# Autorização
CHECK_POLICIES_KEY=
